<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../vuejs/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="../vuejs/axios-0.18.0.js"></script>
</head>
<body>
<center>
    <div id="welcomdiv">
        <h3>医院管理系统</h3>
        欢迎<b><font style="color: lightpink">{{ub.uname}}</font></b>登录此系统
        <!--<select v-model="postid" @click="changePost()">
            <span v-for="p in postlist">
                切换副职位<option :value="p.id">{{p.postname}}</option>
            </span>
        </select>-->
    </div>
</center>
<script type="text/javascript" src="../myjs/top.js"></script>
</body>
</html>